---
layout: default
header-services:
    - title: "Advanced Planning and Scheduling Solutions"
      icon: "fa-globe"
      delay: 5
    - title: "High-speed servers and performance"
      icon: "fa-tachometer"
      delay: 8
    - title: "Lorem ipsum dolor sit amet consectetur"
      icon: "fa-cloud"
      delay: 11
header-title: "At the Vanguard of Innovation"
header-description: "Phasellus viverra nulla ut metus varius laoreet rutrum. Aenean imperdiet etiam ultricies nisi vel augue."
services-button-title: "Learn More"
features-title: "What do we do?"
features:
    - title: "Cloud Computing"
      description: "Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt."
      icon: "fa-cloud"
    - title: "Web Design and SEO"
      description: "Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt."
      icon: "fa-desktop"
    - title: "Mobile and Tablet Apps"
      description: "Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt."
      icon: "fa-tablet"
    - title: "Training and development"
      description: "Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt."
      icon: "fa-graduation-cap"
    - title: "Customer service"
      description: "Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt."
      icon: "fa-paper-plane-o"
    - title: "Mobile and Tablet Apps"
      description: "Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt."
      icon: "fa-tablet"
# create a page with icon list for Andrew
---
<header class="services-header">
    <div class="primary-dark-div">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="service-header-text text-center center-block">
                        <h1 class="animated fadeInDown animation-delay-2">{{page.header-title}}</h1>
                        <p class="animated fadeInDown animation-delay-5">{{page.header-description}}</p>
                        <p class="animated fadeInDown animation-delay-8"><a href="{{ "/services" | prepend: site.url }}" class="btn btn-ar btn-primary btn-lg">{{page.services-button-title}}</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="services-header-list">
                        {% for service in page.header-services %}
                        <li class="animated fadeInUp animation-delay-{{service.delay}}"><a href="#"><i class="fa {{service.icon}}"></i> {{service.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">{{page.features-title}}</h2>
            </div>
            {% for service in page.features %}
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp animated" style="visibility: visible; -webkit-animation: fadeInUp;">
                    <span class="icon-ar icon-ar-lg"><i class="fa {{service.icon}}"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">{{service.title}}</h3>
                        <p>{{service.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>