        <footer>
            <!-- footer content -->
            <div class="footer-content">
                <div class="container">

                        <div class="column col-md-2">
                            <span class="contact-desc">
                                PH: +61 1300 737 500
                            </span>
                        </div>
                        <div class="column col-md-1">
                            <span class="contact-desc">
                                <a href="mailto:support@ywildgums.com">contact@wildgums.com</a>
                            </span>
                        </div>
                        <div class="column col-md-9 text-right">
                            <span class="copyright"> &copy; Wild Gums. All Rights Reserved.</span>
                        </div>
                        <!-- /FOOTER CONTACT INFO -->

                </div>
            </div>
            <!-- footer content -->

        </footer>
        <!-- Scripts -->
        <script src="{{ "/js/jquery.min.js" | prepend: site.url }}"></script>
        <script src="{{ "/js/jquery.cookie.js" | prepend: site.url }}"></script>
        <script src="{{ "/js/bootstrap.min.js" | prepend: site.url }}"></script>
        <script src="{{ "/js/wow.min.js" | prepend: site.url }}"></script>
        <script src="{{ "/js/slidebars.js" | prepend: site.url }}"></script>
        <script src="{{ "/js/jquery.bxslider.min.js" | prepend: site.url }}"></script>
        <script src="{{ "/js/holder.js" | prepend: site.url }}"></script>
        <script src="{{ "/js/buttons.js" | prepend: site.url }}"></script>
        <script src="{{ "/js/styleswitcher.js" | prepend: site.url }}"></script>
        <script src="{{ "/js/jquery.mixitup.min.js" | prepend: site.url }}"></script>
        <script src="{{ "/js/circles.min.js" | prepend: site.url }}"></script>

        <!-- Syntaxhighlighter -->
        <script src="{{ "/js/syntaxhighlighter/shCore.js" | prepend: site.url }}"></script>
        <script src="{{ "/js/syntaxhighlighter/shBrushXml.js" | prepend: site.url }}"></script>
        <script src="{{ "/js/syntaxhighlighter/shBrushJScript.js" | prepend: site.url }}"></script>

        <script src="{{ "/js/app.js" | prepend: site.url }}"></script>
        <script src="{{ "/js/home_services.js" | prepend: site.url }}"></script>
        
        <script type="text/javascript" src="{{ "/assets/js/scripts.js" | prepend: site.url }}"></script>