<header id="header-full-top" class="hidden-xs header-full">
    
    <style type="text/css">
        @media (min-width: 979px) {
            ul.nav li.dropdown:hover > ul.dropdown-menu {
            display: block;
            }
        }
        
        .products {
            background: rgba(40, 88, 110, 0.93);
            padding: 40px 40px 38px;
        }
        
        .product h4 {
            height: 50px;
            color: white;
            font-weight: normal;
            font-size: 13pt;
        }
        
        .product img {
            height: 65px;
            opacity: 0.85;
        }

        .product:hover img {
            height: 65px;
            opacity: 1;
        }

        .product:hover a {
            background: transparent;
        }

        .product:hover h4 {
            height: 50px;
            color: white;
            font-weight: normal;
            font-size: 13pt;
            text-shadow: 0 0 0.05em white;
        }

        .product ul li a:hover {
            background: transparent;
            color: transparent;
        }

        .logo{
            float: left;
            margin-left: 44px;
            margin-top: 8px;
            margin-bottom: 8px;
        }

        .logo img{
            height: 50px;
        }

        .nav-container{
            float: right;
            margin-bottom: 0px;
            margin-top: 16px;
        }

    </style>
</header>
<nav class="navbar navbar-static-top navbar-default navbar-header-full yamm navbar-light" role="navigation" id="header">
    <div class="logo">
      <img src="{{ "/img/colors/blue/ses-logo.png" | prepend: site.url }}"/>
    </div> <!-- container -->
    <div class="nav-container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a class="hidden-lg hidden-md hidden-sm" href="index.html"></a>
        </div> <!-- navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ site.url }}"><b>Home</b></a> 
                </li>
            
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Company</a>
                     <ul class="dropdown-menu dropdown-menu-left">
                        {% for page in site.pages %}
                            {% if page.dropdown-title %}
                                <li>
                                    <a href="{{ page.url | prepend: site.url }}">{{ page.dropdown-title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                
                <li class="dropdown yamm-fw">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Products</a>
                     <ul class="dropdown-menu dropdown-menu-left products">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-lg-2 col-md-6 col-sm-6">
                                        <div class="megamenu-block text-center product">
                                            <ul>
                                                <li>
                                                    <a href="{{ "/products/SA/" | prepend: site.url }}"><img src="http://www.sesolutions.net.au/img/solutions/SaIcon.png"></a>
                                                </li>
                                            </ul>
                                            <h4>Scheduling Assistant</h4>
                                        </div>
                                        <div class="megamenu-block text-center product">
                                            <ul>
                                                <li>
                                                    <a href="#"><img src="http://www.sesolutions.net.au/img/solutions/RtIcon.png"></a>
                                                </li>
                                            </ul>
                                            <h4>Rantt</h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-6 col-sm-6">
                                        <div class="megamenu-block text-center product">
                                            <ul>
                                                <li>
                                                    <a href="#"><img src="http://www.sesolutions.net.au/img/solutions/SlIcon.png"></a>
                                                </li>
                                            </ul>
                                            <h4>Stock Levels</h4>
                                        </div>
                                        <div class="megamenu-block text-center product">
                                            <ul>
                                                <li>
                                                    <a href="#"><img src="http://www.sesolutions.net.au/img/solutions/AzIcon.png"></a>
                                                </li>
                                            </ul>
                                            <h4>Analyzer</h4>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-2 col-md-6 col-sm-6">
                                        <div class="megamenu-block text-center product">
                                            <ul>
                                                <li>
                                                    <a href="#"><img src="http://www.sesolutions.net.au/img/solutions/PlIcon.png"></a>
                                                </li>
                                            </ul>
                                            <h4>Planner</h4>
                                        </div>
                                        <div class="megamenu-block text-center product">
                                            <ul>
                                                <li>
                                                    <a href="#"><img src="http://www.sesolutions.net.au/img/solutions/LeIcon.png"></a>
                                                </li>
                                            </ul>
                                            <h4>Link Explorer</h4>
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-md-6 col-sm-6">
                                        <div class="megamenu-block text-center product">
                                            <ul>
                                                <li>
                                                    <a href="#"><img src="http://www.sesolutions.net.au/img/solutions/DvIcon.png"></a>
                                                </li>
                                            </ul>
                                            <h4>Data Validator</h4>
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-md-6 col-sm-6">
                                        <div class="megamenu-block text-center product">
                                            <ul>
                                                <li>
                                                    <a href="#"><img src="http://www.sesolutions.net.au/img/solutions/FgIcon.png"></a>
                                                </li>
                                            </ul>
                                            <h4>Flex Grid</h4>
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-md-6 col-sm-6">
                                        <div class="megamenu-block text-center product">
                                            <ul>
                                                <li>
                                                    <a href="#"><img src="http://www.sesolutions.net.au/img/solutions/FsIcon.png"></a>
                                                </li>
                                            </ul>
                                            <h4>Factory Sequencer</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

                {% for page in site.pages %}
                  {% if page.title %}
                    <li>
                        <a href="{{ page.url | prepend: site.url }}">{{ page.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
             </ul>
        </div><!-- navbar-collapse -->
    </div><!-- container -->
</nav>