<header id="header-full-top" class="hidden-xs header-full">
    <div class="container">
      <img src="{{ "/img/colors/blue/logo_big.png" | prepend: site.url }}" style="height:60px; margin:10px"/>
    </div> <!-- container -->
    <style>
        @media (min-width: 979px) {
            ul.nav li.dropdown:hover > ul.dropdown-menu {
            display: block;
            }
        }
    </style>
</header>
<nav class="navbar navbar-static-top navbar-default navbar-header-full " role="navigation" id="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a class="hidden-lg hidden-md hidden-sm" href="index.html"></a>
        </div> <!-- navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ site.url }}"><b>Home</b></a> 
                </li>
            
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Company</a>
                     <ul class="dropdown-menu dropdown-menu-left">
                        {% for page in site.pages %}
                            {% if page.dropdown-title %}
                                <li>
                                    <a href="{{ page.url | prepend: site.url }}">{{ page.dropdown-title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                
                {% for page in site.pages %}
                  {% if page.title %}
                    <li>
                        <a href="{{ page.url | prepend: site.url }}">{{ page.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
             </ul>
        </div><!-- navbar-collapse -->
    </div><!-- container -->
</nav>